section{
    padding: 7rem 0;
    margin: 0 auto;
    display: block;
}

section div{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

section p{
    /* display: block; */
    color: #000;
    /* text-align: center; */
    /* text-align: justify; */
    line-height: 1.5;
    /* margin-bottom: 30px; */
    font-size: 20px;
}




























section{
    padding: 7rem 0;
    margin: 0 auto;
    display: block;
}

section div{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

section p{
    /* display: block; */
    color: #000;
    /* text-align: center; */
    /* text-align: justify; */
    line-height: 1.5;
    /* margin-bottom: 30px; */
    font-size: 20px;
}